body, html {
	height: 100%;
	background-color: #181818;
/*	border: 5px solid black;*/
	font-family: Bodoni;
	font-variant: small-caps;
	font-size: 31px;

}

#navTop {
	position: absolute;
	z-index: 102;
	top: 0;
	box-shadow: 0px 0px 500px #3e1b47;
	height: 100px;
}

#navTop img {
	height: 100px;
}

#navTop img:hover {
	opacity: .2;
}


#navBottom {
	position: fixed;
	z-index: 100;
	bottom: 0;
	box-shadow: 0px 0px 500px white;
}

#navBottom a:hover {
	opacity: .1;
}

@media only screen and (max-width: 503px) {
  #coverPage img{
    box-shadow: none;
    border-top: none;
    border-bottom: none;
  }
  body, html {
  	background-color: black;
  }
}

#coverPage {
	max-width: 100%;
	background-color: #181818;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: auto;
	border-bottom: 27px solid black;
	position: relative;
	z-index: 101;

}

#coverPage img {
	max-width: 100%;
	border: 7px solid black;
	box-shadow: 0px 0px 500px #3e1b47;
	height: 100%;
}

#navPage .collection {
	margin: auto;
	width: 333px;
	text-align: center;
}


@media (max-height: 1000px) {
/*	#coverPage img {
		max-width: 500px;
	}*/
	#navTop {
		height: 64px
	}
	#navTop img {
		height: 64px;
	}
}

nav ul a {
	font-size: 31px;
	display: inline-block;
}

@media only screen and (max-width: 750px) {
	nav ul a {
		font-size: 28px;
	}
}

@media only screen and (max-width: 650px) {
	nav ul a {
		font-size: 24px;
	}
}

@media only screen and (max-width: 461px) {
	nav ul a {
		font-size: 21px;
	}
	#back2menu {
		font-size: 24px;
	}
}

@media only screen and (max-width: 427px) {
	#navBottom {
		height: 128px;
	}
	#navBottom ul {
		width: 100%;
	}
}




nav {
	background-color: black;
	box-shadow: 0px 0px 500px white;
	opacity: .9;
	overflow: hidden;
}


#coverPage {
	height: 50%;
	scroll-snap-align: start;
}


#slide-cont {
  height: 200%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

#slide-cont .section {
	scroll-snap-align: start;
}




#navPage {
	height: 100%;
	background-color: #181818;
	background-image: url("images/color6_3.JPG");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: fixed;
	top: 0;
	width: 100%;
}




@media (max-height: 666px) {
	#navPage .collection {
		margin-bottom: 159px;
	}
}


#navPage .collection .collection-item {
	margin: 13px;
	cursor: pointer; 
	opacity: .7;
}

#navPage .collection:hover {
	text-shadow: 0 0 5px rgba(0,0,0,0.5);
	color: transparent;
}


#navPage .collection li.collection-item:hover {
	opacity: .9;
	color: black;
	text-shadow: none;
}

.gradient-border:hover {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;

}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);

  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#mainNav {
	height: 96.33px;
	position: fixed;
	top: 0;
	opacity: 1;
	z-index: 103;
}

#mainNav .brand-logo {
	position: absolute;
	z-index: 100;
}

#mainNav .brand-logo img {
	max-width: 227px;
	height: 96px;
}

#mainNav li a {
	margin: 30px;
}

#mainNav .btn {
	background-color: white;
	opacity: .7;
}

#mainNav .btn:hover {
	opacity: 1;
}

.waves-effect img {
	z-index: 1;
}

#songkick-cont {
	padding-top: 127px;
}

#videos .row {
	padding-top: 127px;
	margin-bottom: 0px;
}

#videos .col {
	margin-bottom: 46px;
}

#aboutus .img-container {
	max-width: 444px;
	margin: auto;
}

#aboutus #logo {
	margin-top: 133px;
	width: 100%;
	border: 1px solid black;
}
#aboutus span {
	text-shadow: 1px 1px #ab772b;
	font-weight: bolder;
	font-size: 35px;
}

#aboutus span span {
	color: #ae1b2a;
}

#aboutus p {
	font-size: 31px;
	color: white;
}

#aboutus a {
	color: white;
	text-shadow: 1px 1px 0px #ae1b2a;
	font-weight: bold;
}


#aboutus .col {
	padding: 0px;
	line-height: 0px;

}

#aboutus .row {
	margin-top: 55px;
	margin-bottom: 0px;
}

#aboutus .col img {
	width: 100%
}


/* Global Styles
================================================== */


/* Setup
================================================== */

#music .container { 
	position:relative;
	padding-top:49px;
	max-width:800px;
	width:100%; 
}

#music .column {
	margin-top: 70px;
}

#music h6 {
	text-align: center;
	text-shadow: 2px 2px black;
	color: white;
	margin-top: 0px;
}

#music h6 span {
	font-size: 27px;
}

#music .img-container {
	max-width: 444px;
	margin: auto;
}

#music .img-container img {
	width: 100%;
}


#music .column { 
	width:inherit;
}


/* Misc.
================================================== */

.no-support {
margin:2rem auto;
text-align:center;
width:90%;
}


/* Audio Player Styles
================================================== */



#mainwrap, #mainwrap2 {
	margin: 0px 6px;
}


#plList li, #plList2 li {
cursor:pointer;
display:block;
margin:0;
padding:21px 0;
}

#plList li:hover, #plList2 li:hover {
background-color:black;
opacity: .4;
}

.plItem {
position:relative;
}

.plTitle {
color: white;
padding-left: 13px;
}


.plLength {
padding-left:21px;
position:absolute;
right:21px;
top:0;
color: white;
}

@media only screen and (max-width: 413px) {
	.plLength {
		display: none;
	}
	.plTitle {
		padding-left: 0px;
	}
	.plItem {
		text-align: center;
	}
}



.plSel,
.plSel:hover, .plSel2, .plSel2:hover {
background-color:black;
color: black;
opacity: .7;
}

/* Plyr Overrides
================================================== */

.plyr--audio .plyr__controls button.tab-focus:focus,
.plyr--audio .plyr__controls button:hover,
.plyr__play-large {
background: black;
}

.plyr--full-ui input[type=range] {
	color: red;
}

#nowPlay, #nowPlay2 {
	margin-bottom: 7px;
	color: white;
	text-shadow: 2px 2px 0px black;
}

#music button {
	background: black;
}

/* Media Queries
================================================== */



